extends layout

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        h1 My ToDo List 📝
        form(action ='/tasks',name='checkListForm', method='POST')
          .input-group
            input.input-lg(type='text', name='name', placeholder='Add New task...', autofocus)
            //- span.input-group-btn
            //- button#add.btn.btn-primary(type='button') Add new task
        hr
        br
        if (tasks.length === 0)
          p No there tasks for today 👌
        else
         ul.list.listgroup
          each task in tasks
            li.list-group-item.task
              p.name-task  - #{task.name}&nbsp;
              p Created at: #{moment(task.createdAt).format('YYYY/MM/DD HH:mm')}
              form.edit-form(action=`/task/${task.id}`, name='checkListForm', method='PUT')
                input.input-lg.hidden(name='name', placeholder='Edit the name...',autofocus, value=task.name)
                i.glyphicon.glyphicon-pencil.modify(href=`/tasks/${task.id}`) Edit
                i.glyphicon.glyphicon-trash.remove(href=`/task/${task.id}`) Trash
                i.glyphicon.glyphicon-ok.done(href=`/tasks/${task.id}`) Done
